html {
  background-color: rgb(174, 205, 202);
}

body {
  background-color: rgb(174, 205, 202);
}

.content {
  margin-inline: 50px;
}

/* header */
header {
  background-image: linear-gradient(
    to left,
    rgb(177, 213, 210, 0.9),
    rgba(92, 173, 165, 0.9)
  );
  height: 80px;
  position: sticky;
  top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.logoTop {
  height: 100%;
  position: absolute;
}

.nav-item {
  font-size: 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgb(92, 173, 165);
  background-color: rgb(255, 247, 200);
  border: 0.5px solid gold;
  border-radius: 25px;
  margin-right: 10px;
}

.nav-link:hover {
  background-color: gold;
}

/* jumbotron */
.jumbotron {
  text-align: center;
  background-image: url(/img/bg-jumbotron.webp);
  background-position: center;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* main */
.container-fluid {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  border-radius: 15px;
  border: 1px solid gold;
  overflow: hidden;
}

.card-body {
  margin-top: 1rem;
  padding: 5px;
}

/* about me */
.aboutMeImg {
  overflow: hidden;
}

.aboutMeContainer img {
  object-position: top;
  border: 1px solid gold;
  object-fit: cover;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
}

/* favorite album */
#favoriteAlbum .card {
  height: 23rem;
}

#favoriteAlbum .card-img-top {
  height: 13rem;
  object-fit: cover;
}

.card-title span {
  font-weight: 200;
  font-size: 15px;
}

/* section album review */

#albumReview th,
#albumReview td {
  border-color: gold;
  color: rgb(56, 101, 97);
}

.album-review-card {
  margin-inline: auto;
  width: 55%;
}

.album-review-container {
  display: flex;
}

#albumReview .card {
  font-size: 1.5em;
  padding: 0;
}

#addTrack {
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#addTrack:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#worstAlbum {
  padding-left: 0;
}

/* section covers */

#covers .card {
  border-radius: 0;
  border: none;
  height: 100%;
}

#covers .col {
  padding: 0;
}

#covers .card-img-top {
  height: 100%;
}

footer {
  background-image: linear-gradient(
    to left,
    rgb(177, 213, 210),
    rgb(92, 173, 165)
  );
  height: 80px;
  font-size: 30px;
}

footer .row {
  height: 100%;
  width: 220px;
}

.fa-brands {
  margin-left: 3px;
  color: rgb(36, 64, 61);
}
