

.aboutMeContainer img {
    width: 100%;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0
}


.card-container {
    display: flex;
    justify-content: center;
}




.card {
    text-align: center;
}

.card-title span {
    font-weight: 200;
}

.album-review-card {
    margin-inline: auto;
    width: 75%;
}